body {
    width: 100vw; 
    height: 100vh;
}

#video, #cluster_frame {
    min-width: 80%; 
    max-width: 100%; 
    max-height: 75%; 
    margin: auto;
}

#timeline {
    width: 100%; 
    height: 15%; 
    border: 1px solid lightgray; 
    margin: auto;
}

#score_plot, #obj_plot, #reduction_plot {
    display: block; 
    width: 100%;
}

#reduction_div {
    position: relative;
    width: 100%;
}

#video_names_selection {
    width: 84%;
}

#cluster_frame_div {
    position: absolute; 
    display: none; 
    left:0px; 
    top:0px; 
}

.adaptable {
    width: 100%;
    height: 100%;
}

.x_adaptable {
    width: 100%;
}

.x_halved {
    width: 50%;
    height: 100%;
}

.y_scrollable {
    overflow-x: hidden; 
    overflow-y: auto;
}

.button_space {
    margin: 0.1%;
}

.royalblue {
    color:royalblue;
}

.label_15 {
    width: 15%;
}