backend/images/*.png
backend/videos/**/*.mp4
backend/videos/*.mp4
backend/videos/**/*.png
backend/videos/*.png
backend/videos/**/*.npy
backend/videos/*.csv
backend/__pycache__/*
backend/config.json
__pycache__/*
.DS_Store
