.h-5 { height: 5%; }

.h-10 { height: 10%; }

.h-90 { height: 90%; }

.h-95 { height: 95%; }

.mh-70 { max-height: 70%; }

.w-5 { width: 5%; }

.w-95 { width: 95%; }

.form-control-light::placeholder {
    color: #f8f9fa !important; 
    opacity: 0.7 !important;
}

.form-control-dark::placeholder {
    color: #212529 !important;
    opacity: 0.7 !important;
}

[contenteditable="true"] {
    caret-color: red;
}

.overflow-x {
    overflow-x: auto;
    overflow-y: hidden;
}

.nowrap { 
    white-space: nowrap;
}

.responsive-text {
    font-size: 1.1vw !important;
}

@keyframes pulse-red {
    0% {
        transform: scale(1);
        color: darkred;
    }
    50% {
        transform: scale(1.2);
        color: red;
    }
    100% {
        transform: scale(1);
        color: darkred;
    }
}

.pulse-mic {
    animation: pulse-red 1.5s infinite;
}
